<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Correct</title>
  <link rel="stylesheet" href="../static/styleindex.css">

</head>
<body>
<!-- partial:index.partial.html -->
<title>Member Page</title>
</style>
</head>
<body>
<div class="me">Member Page</div>
<div class="list">
	<div class="menu">item1</div>
	<div class="menu">item2</div>
	<div class="menu">item3</div>
	<div class="menu">item4</div>
</div>
	
	
	<ul class="burgermenu">
		<li>item1</li>
		<li>item2</li>
		<li>item3</li>
		<li>item4</li>
	</ul>
	<input type="checkbox" name="nothing" id="nothing">
	<label for="nothing" class="icon"><div class="icon2"></div></label>
<div class="up">會員頁面</div>  

<form action="/signout">
<div class="out"><button id="btn">登出</button></div>
</form>
</body>
<!-- partial -->
  
</body>
</html>
